@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Entity Framework Notes";
}
<section class="product_section gray-section pb-4 pt-4 mb-4">
    <div class="heading_container heading_center">
        <h2>
            Entity <span>Framework</span>
        </h2>
    </div>
</section>

<section class="pb-4 pt-4 mb-4">
    <p>
        Entity Framework is an <em>ORM (Object Relational Mapper) </em> that will generate Models from a database (aka Database First), or a database from Models (aka Code First).  
        In addition to generating classes, we are also able to Scaffold Controllers and Views to interact with these Models and the database.  For each Model, Entity Framework can scaffold
         all CRUD functionality needed.
    </p>
    <p>
        EF is a fantastic tool to get your site off the ground and running, but each time we use it you will start to notice the exact same code scaffolded across applications.  This is 
        extremely convenient, as we did not have to write the functionality from scratch, however we still need to customize the Views and Controllers to fit our requirements.  Throughout 
        this project you will see notes and code examples throughout the Controllers and Views as they pertain to EF.
    </p>
</section>